# Compiler files
cache/
out/
coverage/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.idea/

# Node modules
/node_modules/

# Yarn
.yarn/install-state.gz

# Coverage Files
lcov.info

# Build files
bin/
.DS_Store
yarn-error.log

# Yarn 2
.yarn/install-state.gz
